@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

@import "./reset.css";

body {
  min-width: 100%;
  min-height: 100vh;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  background: url(./images/bg-mobile.png) no-repeat 0 0 / cover;
  color: var(--white);
  /* border: 2px solid yellow; */
}

/*  CONTENEDOR PRINCIPAL  */
.main-container {
  min-width: 20.625rem;
  height: 60%;
  /* border: 1px solid #c61b1b; */
  gap: 0.9375rem;
  position: relative;
}

/*  CONTENEDOR PRIMERA SECCIÓN  */
.first-section,
.second-section {
  background: var(--darkBlue);
  width: 100%;
  max-width: 21.875rem;
  padding: 2.5rem 0 2.5rem 2.5rem;
}
.first-section {
  border-radius: 0.625rem 6.25rem 0.625rem 0.625rem;
  height: 12.5rem;
}

/*CONTENEDOR GENERAL DEL LOGO Y LOS ICONOS*/
.first-section__items-container {
  width: 65%;
  height: 100%;
  flex-wrap: nowrap;
  /* border: 3px solid #000; */
  align-items: flex-start;
  justify-content: space-between;
}

/*  CONTENEDOR DE TODOS LOS ICONOS  */
.first-section__options-container {
  min-width: 10.625rem;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: end;

  /*CONTENEDOR INDIVIDUAL DE ICONOS*/
  .first-section__option-container {
    background: black;
    border-radius: 0.625rem;
    display: grid;
    place-items: center;
    width: 3.125rem;
    height: 3.125rem;
  }
}

/*  CONTENEDOR SEGUNDA SECCIÓN  */
.second-section {
  background: var(--darkBlue);
  width: 100%;
  max-width: 34rem;
  padding: 1.875rem 1.625rem;
  text-align: center;
  border-radius: 0.625rem;
  height: 10.3125rem;
  position: relative;
  & #storage-used {
    font-size: 0.75rem;
    opacity: 0.7;
  }
  & span {
    font-weight: bold;
  }
}

.second-section__storage-info {
  min-width: 14.125rem;
}

/*CONTENEDOR DE LA BARRA DE RANGO*/
.second-section__range-bar-container {
  border: 0.0625rem solid #000;
  margin: 0.625rem auto;
  width: 100%;
  height: 0.8875rem;
  border-radius: 3.125rem;
  outline: none;
  border: none;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  border-radius: 3.125rem;
  background: var(--veryDarkBlue);
  outline: none;
  overflow: hidden;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  outline: 0.1875rem solid hsl(335, 100%, 65%);
  background: var(--white);
  cursor: pointer;
}

/*  MINIMO Y MAXIMO DE CAPACIDAD  */
.second-section__min-max-storage {
  justify-content: space-between;
  font-weight: bold;
  font-size: 0.8em;
}

/*  ESPACIO DE MEMORIA RESTANTE  */
.second-section__storage-left {
  width: 60%;
  height: 46%;
  background: var(--white);
  position: absolute;
  bottom: -2.25rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 0.625rem;
  padding: 0.9375rem 0.625rem;
  justify-content: space-evenly;
  color: var(--veryDarkBlue);
  font-weight: bold;
  align-content: center;
  & #number {
    font-size: 2.7em;
  }
  & #description {
    text-transform: uppercase;
    color: var(--grayishBlue);
  }
}

/*  FOOTER  */

.attribution {
  font-size: 0.6875rem;
  text-align: center;
  position: absolute;
  bottom: 0.625rem;
}

.attribution a {
  color: hsl(95, 45%, 44%);
}

/*DESKTOP LAYOUT*/

@media (min-width: 75rem) {
  body {
    background: var(--veryDarkBlue) url(./images/bg-desktop.png) no-repeat;
    background-size: contain;
    background-position: bottom center;
  }
  /*  CONTENEDOR PRINCIPAL  */
  .main-container {
    min-width: 75rem;
    height: 9.75rem;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: end;
    gap: 1.875rem;
  }
  /*  PRIMERA SECCION  */
  .first-section__items-container {
    align-items: left;
  }
  .first-section__options-container {
    align-items: left;
    justify-content: unset;
    column-gap: 0.9375rem;
  }
  /*  SEGUNDA SECCION  */
  .second-section {
    & #storage-used {
      text-align: left;
      font-size: 1rem;
    }
  }
  .second-section__storage-info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .second-section__storage-left {
    width: 36%;
    height: 40%;
    bottom: unset;
    left: unset;
    top: -2.5rem;
    right: 1.5rem;
    border-bottom-right-radius: 10%;
  }
  .second-section__storage-left::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 0.875rem solid transparent;
    border-right: 1.125rem solid white;
    border-bottom: 0.875rem solid transparent;
    position: absolute;
    bottom: -0.875rem;
    right: 0;
  }
}
